<div class="categories-container">
    <h1>All Categories</h1>

    <div class="categories-actions">
        <a href="/categories/new" class="add-new-category-button">Add New Category</a>
        <a href="/items" class="view-all-items-button">All Items</a>
    </div>

    <% if (categories.length > 0) { %>
        <ul class="categories-list">
            <% categories.forEach(category => { %>
            <li>
                <span class="category-name">
                    <a href="/categories/<%= category.id %>"><%= category.name %></a>
                </span>
                <div class="category-actions">
                    <a href="/categories/<%= category.id %>/edit" type="submit" class="all-cats-edit-btn">Edit</a>

                    <form action="/categories/<%= category.id %>?_method=DELETE" method="POST" style="display: inline;">
                        <button type="submit" class="all-cats-delete-button">Delete</button>
                    </form>
                </div>
            </li>
            <% }) %>
        </ul>
    <% } else { %>
    <p>No Categories Found.</p>
<% } %>
</div>